@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 로드 */
@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Regular.subset.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Medium.subset.woff2") format("woff2");
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-SemiBold.subset.woff2") format("woff2");
    font-weight: 600;
    font-style: semibold;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Bold.subset.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
}

/* default Font를 Pretendard로 */
:root {
    font-family: Pretendard, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /* 
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
